{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('main.emergency_mode') }}">Emergency</a>

<ul>
    {% for member in members %}
    <li>
        {{ member.name }} ({{ member.relation }}, {{ member.age }} years old)
        <a href="{{ url_for('main.view_member', member_id=member.id) }}">View</a> |
        <a href="{{ url_for('main.edit_member', member_id=member.id) }}">Edit</a> |
        <a href="{{ url_for('main.delete_member', member_id=member.id) }}">Delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{{ url_for('main.add_member') }}">Add Family Member</a>

{% endblock %}
